body {
    display: flex;
    margin: 0px;
    /* background-color: #003362; Fallback color */
    background-color: #718dc49e;
    /* background: linear-gradient(to bottom, #1154B8, #D6E4FF); */
    /* Use linear gradient as background */
    overflow-x: hidden;
    flex-direction: row;
    justify-content: space-between;
  }
  
  #title{
      font-size: 40px;
      color: black;
      padding: 0px;
      margin: 0px;
  }
  .navbar-tech {
      z-index: 1;
      width: 100%;
      display: flex;
      position: fixed;
      justify-content: space-between;
      align-items: center;
      border: 2px solid black;
      flex-direction: row;
      background-color:#061c4d ;
    }
    .joint{
      display: flex;
      flex-direction: row;
      align-items: end;
      /* padding: 10px; */
      margin: 0px;
    }
  /* profile tag starts from here */
  #profileimage{
      width: 80px;
      height: 80px;
      border-radius: 50%;
  }
  /* navmenu starts from here */
  /* Dropdown container */
  .dropdown-container {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
    }
  #menuimage{
      width: 50px;
      height: 50px;
     }
    
    /* Dropdown button */
  .dropdown-button {
      font-size: 16px;
      border: none;
      cursor: pointer;
      overflow: hidden;
      background-color: white;
      margin: 15px;
      margin-right: 80px;
      border-radius: 4px;
      height: 50px;
      width: 50px;
    }
    
    .dropdown-content {
      display: none;
      position: absolute; /* Adjust positioning */
      top: 100%; /* Position below the button */
      left: 0;
      right: 100%;
      background-color: rgba(35, 27, 27, 0.499);
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
      height:700px;
      width: 200px;
    }
    
    .dropdown-content a {
      color: black;
      text-decoration: none;
      display: flex;
      justify-content: center;
      padding: 20px;
      margin-right: 50px;
    }
    
    .dropdown-content a:hover {
      background-color: #b1a0a097;
    }
    
    .show {
      display: block;
    }
    /* css for widgets starts from here */
    .widgets{
      z-index: 2;
      display: flex;
      flex-direction: row;
      /* border: 2px solid black; */
      width: 1000px;
      height: 100%;
      margin-top: 85px;
      flex-wrap: wrap;
      justify-content: space-around; /* Adjust as needed */
      align-items: flex-start;
    }
    .widget{
      display: flex;
      flex-direction: column;
      border-radius: 60px;
      /* border: 2px solid black; */
      width: 845px;
      height: 770px;
      border-top-right-radius: 383px;
      margin: 40px;
      background-color: #454c5572;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
    
  
    /* css for dashboard starts from here */
    .dashboard{
      z-index: 3;
      display: flex;
      margin-top: 85px;
      border: 2px solid black;
      width: 300px;
      flex-direction: column;
      /* justify-content: space-around; */
      align-items: center;
    } 
    .suggested{
        display: flex;
        flex-direction: column;
        /* border: 2px solid black; */
        width: 300px;   
        height: 100%;
        margin-top: 100px;
        position:fixed;
        align-items: center;
        /* justify-content: space-evenly; */
        text-decoration: underline;
    }
    .scontent{
        display: flex;
        flex-direction: row;
        /* border: 2px solid black; */
        width: 200px;
        height: 200px;
        margin: 20px;
        background-color:#454c5572 ;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }
     #titletwo{
      position: fixed;
      margin-top: 0px;
     }
